@charset "UTF-8";

/*
    em HTML é id = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 109, 0);
}

h1#principal {
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: white;
}

h2 {
    color: rgb(51, 77, 49);
}

.basico {
    color: rgb(60, 180, 52);

}

.intermediario {
    color: rgb(180, 178, 52);


}

.avancado {
    color: rgb(180, 67, 52);

}

.destaque {
    background-color: rgba(197, 197, 96, 0.438);
}

